.product-detail-page {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-info-section {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  gap: 10px;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-detail-description {
  width: 100%;
  text-align: justify;
}

.product-detail-price {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  align-items: top;
  color: #7790ED;
}

.currency-price {
  font-size: 18px;
}

.price {
  font-size: 32px;
}

table {
  border: 2px solid #7790ED;
}
