.stock-quantity-input {
  width: calc(100% + 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quantity-input {
  -moz-appearance: textfield;
  width: calc(40% - 80px);
  min-width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #5275F5;
  font-size: 18px;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input-decrese-button,
.quantity-input-increse-button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  padding-left: 4px;
  padding-right: 4px;
  color: aliceblue;
  background-color: #5275F5;
  border: none;
  border-radius: 5px;
}
